sql_connector/sql_connector.py
__pycache__/
chromedriver.exe
mail/mailLog.py
build
dist
debug.log

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec